body {
  margin: 0;
  padding: 0;
}
.click {
  color: #d9001b !important;
}
.main {
  width: 100%;
  overflow: hidden;
}
.type1 {
  font-family: 'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 900;
}
.type2 {
  font-family: 'Arial Narrow Bold', 'Arial Narrow', 'Arial', sans-serif;
  font-weight: 700;
}
.type3 {
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
}
.type4 {
  font-family: 'Arial Normal', 'Arial', sans-serif;
  font-weight: 400;
}
.header {
  width: 100%;
  box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.3);
  padding: 0.7vw 0 0.5vw;
  display: flex;
  border-bottom: 0.05vw solid rgba(215, 215, 215, 0.1);
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
}
.header .header-img {
  width: 4vw;
  margin-top: 0.5vw;
}
.header .header-txt {
  font-family: 'Arial Narrow Bold', 'Arial Narrow', 'Arial', sans-serif;
  font-weight: 700;
  margin: auto 2.5vw;
  font-size: 1.2vw;
  color: black;
  text-decoration: none;
  margin-top: 0.5vw;
}
.header .header-txt:hover {
  color: rgba(231, 47, 47, 0.3);
}
.footer {
  height: 6.6vw;
  display: flex;
  background-size: 100% 6.6vw;
}
.footer p {
  font-family: 'Arial Normal', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 0.95vw;
  color: #FFFFFF;
  margin: 4vw auto 0;
}
.button {
  width: 6.4vw;
  height: 2.4vw;
  background-image: linear-gradient(to right, #e7808d, #d9001b);
  border-radius: 1.2vw;
  border: 0.05vw solid rgba(121, 121, 121);
  margin-right: 0.7vw;
}
.button p {
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 1vw;
  margin: 0;
  line-height: 2.4vw;
  text-align: center;
}
